body {
    color: aqua;
    background-color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
}

img {

    position: inherit;
}

hr {
    color: aqua;
}
.navbar__container ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.navbar__container a{
    justify-content: space-between;
    text-decoration: none;
    color: aqua;
    width: 100px;
    display: block;

}

.navbar__container li {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: min-content;
}

.highlight1{
    border-radius: 70%;
    display: grid;
    grid-template-columns: 1 1 2;
    grid-template-rows: auto;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: aqua;
    padding: 20px;
    border: 10px solid rgb(221, 232, 232);
    border-radius: 45px;
    
    
}
h3{

}

.AP{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    
}
h5 {
    margin-left: 130px;
    margin-top: 0px;
}

.apimages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 10px;
}
