body {
    color: aqua;
    background-color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
}

img {

    position: inherit;
}

hr {
    color: aqua;
}
.navbar__container ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.navbar__container a{
    justify-content: space-between;
    text-decoration: none;
    color: aqua;
    width: 100px;
    display: block;

}

.navbar__container li {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: min-content;
}

.highlight1{
    border-radius: 70%;
    display: grid;
    grid-template-columns: 1 1 2;
    grid-template-rows: auto;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: aqua;
    border: 15px solid teal;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

