

body {
    color: aqua;
    background-color: black;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
    margin: 0%;
}


img {

    position: inherit;
}

hr {
    color: aqua;
}

.navbar__container ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.navbar__container a{
    justify-content: space-between;
    text-decoration: none;
    color: aqua;
    width: 100px;
    display: block;

}

.navbar__container li {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.flex-container {
    display: flex;
    background-image: url("../images/utsav-srestha-HeNrEdA4Zp4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.flex-container2 {
    display: flex;
    background-image: url("../images/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.flex-container3 {
    display: flex;
    background-image: url("../images/nastuh-abootalebi-rSpMla5RItA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

.flex-container4{
    display: flex;
    background-image: url("../images/hans-eiskonen-13sk8LUVwMg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.flex-container5{
    display: flex;
    background-image: url("../images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;


}

.picture {

    width: 200px;
    margin: 10px;
    height: 80%;



}

.title { 
    width: 200px;
    margin-top: 300px;
    text-align: left;
    line-height: 100px;
    font-size: 100px;

}

.title2 {
    width: 200px;
    margin-top: 300px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;
    
}
.title3 {
    width: 200px;
    margin-top: 300px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;

}

.title4{
    width: 200px;
    margin-top: 300px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;


}

.title5{
    width: 200px;
    margin-top: 300px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;

}
h2{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
      
}

img {
    height: 80%;
}









