

body {
    color: aqua;
    background-color: black;
    margin: 0px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0%;
    margin: 0%;
    height: 80px;
}


img {

    position: inherit;
}

hr {
    color: aqua;
}

.navbar__container ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.navbar__container a{
    justify-content: space-between;
    text-decoration: none;
    color: aqua;
    width: 100px;
    display: block;

}

.navbar__container li {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar__container li a:hover{
    color: white;
    background-color: grey;
}

.flex-container {
    display: flex;
    background-image: url("../images/utsav-srestha-HeNrEdA4Zp4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
   
}

.flex-container2 {
    display: flex;
    background-image: url("../images/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}
.flex-container3 {
    display: flex;
    background-image: url("../images/nastuh-abootalebi-rSpMla5RItA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

.flex-container4{
    display: flex;
    background-image: url("../images/anton-maksimov-5642-su-3jDZM3rgpz8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.flex-container5{
    display: flex;
    background-image: url("../images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;


}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
}
.picture {

    width: 200px;
    margin: 10px;
    height: 80%;


}

.title { 
    width: 200px;
    margin-top: 300px;
    text-align: left;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.title2 {
    width: 200px;
    margin-top: 300px;
    margin-left: 900px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.title3 {
    width: 200px;
    margin-top: 300px;
    text-align: left;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.title4{
    width: 200px;
    margin-top: 300px;
    margin-left: 900px;
    text-align: right;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.title5{
    width: 200px;
    margin-top: 300px;
    text-align: left;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


footer {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
}

.closingfooter {
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
}








